<nav
  class="fancynavbar"
  data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:70},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.3}"
  data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:-48},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.3}"
  data-zanim-trigger="scroll"
  data-exclusive="true"
>
  <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
    <a class="fancynavbar-brand" routerLink="/">
      <img
        class="fancynavbar-brand-img"
        src="assets/img/logo-sparrow-invert.svg"
        alt=""
        width="30"
        height="30"
        data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:45},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.4}"
        data-zanim-trigger="scroll"
      />

      <!--You can use icon or text logo as well-->
      <!--<span class='fab fa-superpowers fs-3'></span>-->
      <!--<span class='logo-sparrow'>S</span>--></a
    >

    <div class="fancynavbar-toggler">
      <svg
        class="fancynavbar-toggler-icon"
        viewBox="0 0 70 70"
        xmlns="http://www.w3.org/2000/svg"
        data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:45},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.5}"
        data-zanim-trigger="scroll"
      >
        <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
        <path id="path-middle" d="M20,32h30"></path>
        <path
          id="path-bottom"
          d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"
        ></path>
      </svg>
    </div>
    <div
      class="fancynavbar-addon"
      data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:45},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.4}"
      data-zanim-trigger="scroll"
    >
      <ng-container *ngIf="auth.isAuthenticated()">
        <a (click)="logout()" class="fancynavbar-addon-item mb-5" routerLink="/"
          ><span class="fas fa-sign-out-alt"></span
        ></a>
      </ng-container>
      <a class="fancynavbar-addon-item" href="https://twitter.com/share?url=https://tracking.info&text=Tracking.info+-+A+Platform+for+Real-Time+Website+Monitoring&hashtags=dashboard_io" target="_blank"><span class="fab fa-twitter"></span></a>
      <!--<a class="fancynavbar-addon-item" href="#" data-remodal-target="language"><span class="text-sans-serif ls font-weight-black fs&#45;&#45;1">EN</span></a>-->
    </div>
  </div>
  <div class="fancynavbar-collapse">
    <ul class="fancynavbar-nav">
      <li class="fancynav-item">
        <a class="fancynav-link" routerLink="/"><span class="fancynav-link-content">home</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link" routerLink="/dashboard"><span class="fancynav-link-content">dashboard management</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link" routerLink="/contact"><span class="fancynav-link-content">contact</span></a>
      </li>

      <ng-container *ngIf="!auth.isAuthenticated()">
        <li class="fancynav-item mt-5">
          <a class="fancynav-link" routerLink="/register"><span class="fancynav-link-content">register</span></a>
        </li>
        <li class="fancynav-item">
          <a class="fancynav-link" routerLink="/login"><span class="fancynav-link-content">login</span></a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
