 <router-outlet></router-outlet>

 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/js/popper.min.js"></script>
 <script src="assets/js/bootstrap.js"></script>
 <script src="assets/js/plugins.js"></script>
 <script src="assets/lib/loaders.css/loaders.css.js"></script>
 <script src="assets/js/stickyfill.min.js"></script>
 <script src="assets/lib/remodal/remodal.js"></script>
 <script src="assets/lib/jtap/jquery.tap.js"></script>
 <script src="assets/js/rellax.min.js"></script>
 <script src="assets/js/theme.js"></script>

 <script type="text/javascript" src="{{ baseUrl }}/socket.io/socket.io.js"></script>
