<section class="py-0" id="page-services">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0 order-lg-2">
        <div class="sticky-top vh-lg-100 py-9">
          <div class="bg-holder" style="background-image:url(assets/img/headers/header-48.jpg);">
          </div>
          <!--/.bg-holder-->

        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-sm-11 col-md-8 col-lg-11 col-xl-9 px-xl-5">
            <div class="mb-5 mb-lg-7 oveflow-hidden">
              <h1 class="text-underline fs-4 fs-md-5">we do.</h1>
            </div>
            <div class="media mb-5 card-service">
              <div class="oveflow-hidden">
                <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-target.svg" alt="" width="50" />
              </div>
              <div class="media-body">
                <div class="overflow-hidden">
                  <h4 class="mb-2">problem detection</h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0">Tracking.info is a faithful assistant providing website monitoring for its users. </p>
                </div>
              </div>
            </div>
            <div class="media mb-5 card-service">
              <div class="oveflow-hidden">
                <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-line-chart.svg" alt="" width="50" />
              </div>
              <div class="media-body">
                <div class="overflow-hidden">
                  <h4 class="mb-2">website monitoring</h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0">The monitoring system helps to control processes in real time and prevent problems. It allows users to quickly resolve problems.</p>
                </div>
              </div>
            </div>
            <div class="media mb-5 card-service">
              <div class="oveflow-hidden">
                <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-coding.svg" alt="" width="50"  />
              </div>
              <div class="media-body">
                <div class="overflow-hidden">
                  <h4 class="mb-2">service monitoring</h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0">System and Service Monitoring. System metrics measure the health of the environment your application lives in.</p>
                </div>
              </div>
            </div>
            <div>
              <a routerLink="/dashboard" class="btn btn-outline-dark mt-4">GETTING STARTED</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
